<h1><%= @user.name %>'s Matches</h1>
<%= link_to "Add New Match", new_user_match_path %>
<ul>
  <% @matches.each do |match| %>
    <li><%= link_to "Match #{match.id}", match_path(match) %>
      <ul>
        <li>Little: <%= match.little %></li>
        <li>Big: <%= match.big %></li>
        <li>Guardian: <%= match.guardian %></li>
        <li>Start Date: <%= match.start %></li>
      </ul>
    </li>
  <% end %>
</ul>
