<h2>Create A Match Here!</h2>

<%= form_for [@user, @match] do |f| %>
  <%= f.label :big %>
  <%= f.text_field :big %>

  <%= f.label :little %>
  <%= f.text_field :little %>

  <%= f.label :guardian %>
  <%= f.text_field :guardian %>

  <%= f.label :start %>
  <%= f.date_field :start %>

  <%= f.submit %>
<% end %>
