<h1>Match</h1>
<ul>
  <li>Little: <%= @match.little %></li>
  <li>Big: <%= @match.big %></li>
  <li>Guardian: <%= @match.guardian %></li>
  <li>Start Date: <%= @match.start %></li>
</ul>
<%= link_to "Edit", edit_match_path(@match) %>
<%= link_to "Delete", match_path(@match), method: :delete %>
<br>
<h3>Contacts</h3>
<% @contacts.each do |contact| %>
  <% if contact.big_little == 'little'%>
    <ul>
      <li>Contact Person: <%= contact.person %></li>
      <li>Contact Due: <%= contact.contact_due %></li>
      <li>SOR Due: <%= contact.sor %></li>
      <li>YOS Due: <%= contact.yos %></li>
    </ul>
  <% elsif contact.big_little == 'big' %>
    <ul>
      <li>Contact Person: <%= contact.person %></li>
      <li>Contact Due: <%= contact.contact_due %></li>
      <li>SOR Due: <%= contact.sor %></li>
      <li>Training Complete: <%= contact.training %></li>
      <li>License and Insurance Update: <%= contact.driving %></li>
    </ul>
  <% end %>
<% end %>
